In [2]:
from dotenv import load_dotenv
import os
import requests
import pandas as pd
import io

load_dotenv()
api_key = os.environ['api_key']

#Personal vendeta, a lot of growth in the last half decade. My high risk high reward stock
url = f'https://api.polygon.io/v2/aggs/ticker/AMD/range/1/day/2023-01-01/2024-07-02?adjusted=true&sort=asc&apiKey={api_key}'
# resp = requests.get(url, {})
# print(resp)
amd_stock = pd.read_json(url)
amd_stck_data = amd_stock['results'].apply(pd.Series)
display(amd_stck_data)

# amd_stck_data.to_csv('./amd_stock_data.csv')

,v,vw,o,c,h,l,t,n
0,46851844.0,64.5591,65.998,64.02,66.8800,63.59,1.672722e+12,273157.0
1,47477139.0,64.6354,65.000,64.66,65.7900,63.31,1.672808e+12,271181.0
2,46159549.0,63.0950,64.150,62.33,64.3500,62.30,1.672895e+12,261334.0
3,70161340.0,62.4135,63.145,63.96,64.3000,60.05,1.672981e+12,378038.0
4,69741257.0,68.0088,66.220,67.24,69.3200,65.67,1.673240e+12,384973.0
...,...,...,...,...,...,...,...,...
371,36661590.0,157.7332,160.600,157.54,160.7400,156.00,1.719374e+12,350548.0
372,33636518.0,158.9398,157.180,159.47,160.6100,156.81,1.719461e+12,322780.0
373,55770046.0,162.9784,160.230,162.21,166.4500,159.41,1.719547e+12,456665.0
374,50217006.0,156.3607,161.250,157.69,161.5068,153.64,1.719806e+12,531081.0
375,56590942.0,160.8932,157.040,164.31,164.5800,156.70,1.719893e+12,496394.0

In [3]:
#The steadiest stock I could find, and got me away from the volatility of the tech sector
url_1 =  f'https://api.polygon.io/v2/aggs/ticker/PG/range/1/day/2023-01-01/2024-07-02?adjusted=true&sort=asc&apiKey={api_key}'

pg_stock = pd.read_json(url_1)
# display(pg_stock_year)
pg_stk_data = pg_stock['results'].apply(pd.Series)
display(pg_stk_data)
pg_stk_data.to_csv('./pg_stock_data.csv')

,v,vw,o,c,h,l,t,n
0,6447341.0,150.7559,150.95,151.57,151.71,149.1200,1.672722e+12,81775.0
1,7313373.0,152.1293,151.99,152.23,153.39,151.2300,1.672808e+12,82849.0
2,5373998.0,150.9567,152.21,150.34,152.48,150.1250,1.672895e+12,69747.0
3,7882208.0,153.5211,151.85,153.92,154.46,151.7500,1.672981e+12,84457.0
4,5727156.0,153.0017,153.44,152.04,154.80,151.9965,1.673240e+12,75227.0
...,...,...,...,...,...,...,...,...
371,4870358.0,167.2811,166.05,167.45,167.81,165.6600,1.719374e+12,79776.0
372,4786415.0,166.6223,167.49,166.62,168.10,165.5000,1.719461e+12,79537.0
373,8104827.0,165.1810,166.00,164.92,167.24,164.5800,1.719547e+12,89805.0
374,7468497.0,163.3542,165.59,162.72,166.21,162.2000,1.719806e+12,103065.0
375,5316237.0,163.3222,162.58,163.90,164.04,161.7100,1.719893e+12,77033.0

In [4]:
#Incredibly steady, not a competitor of PG(Although kind of the same market)
url_2 = f'https://api.polygon.io/v2/aggs/ticker/CL/range/1/day/2023-01-01/2024-07-02?adjusted=true&sort=asc&apiKey={api_key}'

cl_stock = pd.read_json(url_2)
cl_stk_data = cl_stock['results'].apply(pd.Series)
display(cl_stk_data)
cl_stk_data.to_csv('./cl_stock_data.csv')

             v       vw      o      c      h        l             t        n
0    2920223.0  78.6181  78.79  79.13  79.17  77.7200  1.672722e+12  35751.0
1    3976759.0  79.6004  79.20  79.64  80.13  79.1850  1.672808e+12  39776.0
2    2295623.0  78.7689  79.52  78.54  79.81  78.4450  1.672895e+12  34577.0
3    2274474.0  79.9641  79.40  79.98  80.46  79.1700  1.672981e+12  31084.0
4    2825954.0  79.2713  79.96  78.73  80.40  78.5550  1.673240e+12  39333.0
..         ...      ...    ...    ...    ...      ...           ...      ...
371  3323538.0  98.2315  98.07  98.23  98.49  97.8700  1.719374e+12  37406.0
372  3191288.0  98.1145  98.22  98.17  98.53  97.7600  1.719461e+12  35945.0
373  9120344.0  97.1191  98.20  97.04  98.47  96.7800  1.719547e+12  40169.0
374  4127571.0  96.3646  97.44  95.54  97.70  95.4201  1.719806e+12  53036.0
375  4048573.0  95.9011  95.50  96.12  96.25  95.0200  1.719893e+12  39324.0

[376 rows x 8 columns]

In [5]:
#Still consumer defense, but food vs PG or CL is pretty different, so some diversification there
#Historically very steady growth with semi-recent drop, offering good returns
url_3 = f'https://api.polygon.io/v2/aggs/ticker/HSY/range/1/day/2023-01-01/2024-07-02?adjusted=true&sort=asc&apiKey={api_key}'

hsy_stock = pd.read_json(url_3)
hsy_stk_data = hsy_stock['results'].apply(pd.Series)
display(hsy_stk_data)
hsy_stk_data.to_csv('./hsy_stock_data.csv')

,v,vw,o,c,h,l,t,n
0,1160861.0,227.0809,230.44,226.93,230.50,224.8600,1.672722e+12,27984.0
1,1394287.0,223.0691,226.84,223.27,226.84,221.4700,1.672808e+12,38884.0
2,939399.0,223.1869,223.52,223.08,224.35,221.8500,1.672895e+12,23463.0
3,945806.0,225.2158,222.98,225.65,226.69,222.9800,1.672981e+12,20965.0
4,884018.0,226.2063,225.02,225.39,227.93,224.1000,1.673240e+12,22838.0
...,...,...,...,...,...,...,...,...
371,1192449.0,183.7189,184.00,183.05,185.25,182.7800,1.719374e+12,27744.0
372,1190444.0,183.2513,183.41,183.68,184.03,182.0900,1.719461e+12,27387.0
373,5004269.0,183.8567,183.51,183.83,185.46,182.7100,1.719547e+12,36488.0
374,1652659.0,182.8287,184.49,182.45,185.71,181.6700,1.719806e+12,33964.0
375,1626529.0,184.0338,182.21,184.65,184.75,181.8238,1.719893e+12,31977.0

In [10]:
#Gain a decent amount of diversification by going into healthcare sector
#Not the steadiest, but not terrible
url_3andahalf = f'https://api.polygon.io/v2/aggs/ticker/USPH/range/1/day/2023-01-01/2024-07-02?adjusted=true&sort=asc&apiKey={api_key}'
usph_stock = pd.read_json(url_3andahalf)
usph_stock_data = usph_stock['results'].apply(pd.Series)
display(usph_stock_data)
usph_stock_data.to_csv('./usph_stock_data.csv')

            v       vw      o      c       h      l             t       n
0     88681.0  81.3889  81.27  81.67  82.200  80.56  1.672722e+12  2467.0
1    122900.0  80.9298  82.31  79.93  82.850  79.38  1.672808e+12  2336.0
2     99855.0  79.4336  79.70  80.00  80.195  78.25  1.672895e+12  2370.0
3     76164.0  83.1706  81.12  84.36  84.420  79.85  1.672981e+12  2129.0
4     77462.0  85.2973  84.33  85.52  85.750  84.33  1.673240e+12  2156.0
..        ...      ...    ...    ...     ...    ...           ...     ...
371  151846.0  93.3725  93.58  94.33  94.530  92.80  1.719374e+12  3815.0
372  181439.0  93.3783  95.06  93.12  95.116  92.83  1.719461e+12  4570.0
373  315907.0  92.2662  94.09  92.42  94.090  91.07  1.719547e+12  4934.0
374  126423.0  91.4660  92.86  91.31  93.630  90.49  1.719806e+12  3766.0
375   84625.0  91.6724  91.44  91.59  92.690  90.71  1.719893e+12  2819.0

[376 rows x 8 columns]

In [9]:
#A good diversification of my portfoilio, focus on Industrials, Consumer Cyclical, Financial Services as top 4 
#My stocks are focused on tech, healthcare, consumer defense. Admittedly number 5 is tech for this etf, but it's not 
#incredibly easy to find a performant, reliably growing, non-tech focused etf

url_4 = f'https://api.polygon.io/v2/aggs/ticker/IJH/range/1/day/2023-01-01/2024-07-02?adjusted=true&sort=asc&apiKey={api_key}'
ijh_etf = pd.read_json(url_4)
ijh_etf_data = ijh_etf['results'].apply(pd.Series)
display(ijh_etf_data)
ijh_etf_data.to_csv('./ijh_etf_data.csv')

,v,vw,o,c,h,l,t,n
0,7379570.0,48.2209,48.714,48.148,49.0220,47.806,1.672722e+12,20875.0
1,6781965.0,48.8259,48.472,48.872,49.1177,48.440,1.672808e+12,18513.0
2,4477035.0,48.3999,48.576,48.386,48.6040,48.100,1.672895e+12,14022.0
3,6099755.0,49.4078,48.822,49.602,49.6898,48.666,1.672981e+12,16339.0
4,5348375.0,49.8506,49.888,49.612,50.1678,49.562,1.673240e+12,13786.0
...,...,...,...,...,...,...,...,...
371,4177509.0,58.0824,58.160,58.180,58.2750,57.930,1.719374e+12,22575.0
372,5359391.0,58.2183,58.190,58.370,58.3900,58.050,1.719461e+12,22897.0
373,8179219.0,58.5829,58.670,58.520,58.9600,58.170,1.719547e+12,35722.0
374,9288290.0,58.1058,58.710,57.970,58.7999,57.890,1.719806e+12,33926.0
375,6204792.0,58.0662,57.900,58.150,58.2000,57.880,1.719893e+12,26781.0

In [18]:
#Chose cadusd becuase buy low sell high. I know CAD has been in the dumps, so knew that would be a low forex.

url_5 = f'https://api.polygon.io/v2/aggs/ticker/C:CADUSD/range/1/day/2023-01-01/2024-07-02?adjusted=true&sort=asc&apiKey={api_key}'
cadusd_forex = pd.read_json(url_5)
cadusd_forex_data = cadusd_forex['results'].apply(pd.Series)
display(cadusd_forex_data)
cadusd_forex_data.to_csv('./cadusd_forex_data.csv')

,v,vw,o,c,h,l,t,n
0,189.0,0.7377,0.736900,0.73857,0.738650,0.735540,1.672531e+12,189.0
1,29096.0,0.7372,0.738560,0.73724,0.741400,0.734592,1.672618e+12,29096.0
2,57315.0,0.7341,0.737000,0.73110,0.739430,0.730380,1.672704e+12,57315.0
3,61281.0,0.7377,0.731330,0.74149,0.742350,0.731200,1.672790e+12,61281.0
4,56763.0,0.7388,0.741380,0.73726,0.741830,0.735400,1.672877e+12,56763.0
...,...,...,...,...,...,...,...,...
517,35143.0,0.7303,0.729620,0.72990,0.731170,0.729100,1.719446e+12,35143.0
518,38318.0,0.7299,0.729920,0.73100,0.732270,0.727900,1.719533e+12,38318.0
519,2147.0,0.7313,0.731192,0.73125,0.731660,0.730700,1.719706e+12,2147.0
520,34926.0,0.7297,0.731240,0.72785,0.731845,0.727167,1.719792e+12,34926.0
521,35288.0,0.7290,0.727840,0.73109,0.731630,0.726797,1.719878e+12,35288.0

In [32]:
#Want it to spread cout of consumer and even out into healthcare and tech a little more
#Polygon.io doesn't support Mutula funds thou :(

url_6 =f'https://api.polygon.io/v2/aggs/ticker/VPMC/range/1/day/2023-01-01/2024-07-02?adjusted=true&sort=asc&apiKey={api_key}'
param = {
    'type' : 'FUND'
}
resp = requests.get(url_6, param)
display(resp.json())
# vpmcx_mutual = pd.read_json(url_6, param)
# vpmcx_mutual_data = vpmcx_mutual['results'].apply(pd.Series)
# display(vpmcx_mutual_data)
# vpmcx_mutual_data.to_csv('./vpmcx_mutual_data.csv')

{'ticker': 'VPMC',
 'queryCount': 0,
 'resultsCount': 0,
 'adjusted': True,
 'status': 'OK',
 'request_id': '51f0af30af6c4f9aba0b6e2087a33031'}

In [10]:
#NASDAQ-100 is not paywalled, wanted sp500
url_7 = f'https://api.polygon.io/v2/aggs/ticker/I:NDX/range/1/day/2023-01-01/2024-07-02?sort=asc&apiKey={api_key}'
ndx_index = pd.read_json(url_7)
ndx_index_data = ndx_index['results'].apply(pd.Series)
ndx_index_data.to_csv('./ndx_index_data.csv')
display(ndx_index_data)

                o             c             h             l             t
0    12085.674327  12066.271823  12156.213862  12006.037547  1.677046e+12
1    11979.799425  11969.651998  12018.320636  11900.838503  1.677218e+12
2    12106.791649  12057.788354  12159.638149  12034.612553  1.677478e+12
3    12041.746389  12042.116479  12146.523163  12021.320963  1.677564e+12
4    12026.719702  11937.475278  12054.476681  11906.578816  1.677650e+12
..            ...           ...           ...           ...           ...
338  19671.068079  19751.047838  19763.545747  19654.183104  1.719378e+12
339  19740.515013  19789.027010  19850.810183  19701.336249  1.719464e+12
340  19817.004516  19682.870924  20017.714607  19665.848633  1.719551e+12
341  19720.112062  19812.222529  19827.748803  19577.535467  1.719810e+12
342  19746.223750  20011.892963  20014.915310  19741.809375  1.719896e+12

[343 rows x 5 columns]