In [22]:
import requests
import json
import xmltodict
import pandas as pd

url_base = 'https://www.animenewsnetwork.com'
url_api = '/encyclopedia'
endpoint = '/reports.xml?id=155&nlist=all'

anime_url = url_base + url_api + endpoint

params ={
    'type' : 'anime'
}

resp = requests.get(anime_url, params)
data = xmltodict.parse(resp.content)
df_anime = pd.DataFrame(data)
dict_anime = df_anime['report']['item']
df_anime_real = pd.DataFrame(dict_anime)
df_anime_real

,id,gid,type,name,precision,vintage
0,32829,570316832,ONA,Lunny-chan to Tanjōbiya-san,ONA,2024-06-21
1,32823,1877762788,TV,I Was Reincarnated as the 7th Prince,TV 2,NaN
2,32822,2599883534,ONA,Dōwa Revengers,ONA,NaN
3,32821,1146226738,TV,Tokyo Revengers,TV 4,NaN
4,32815,2560063520,TV,Moriarty's Perfect Crime,TV,2024-07-19
...,...,...,...,...,...,...
11657,5,547578341,OAV,Battle Skipper,OAV,1995-08-23
11658,4,3862651477,TV,Gatchaman,TV,1972-10-01 to 1974-09-29
11659,3,921859722,movie,Nasu: Summer in Andalusia,movie,2003-07-26
11660,2,1582182418,OAV,Apocalypse Zero,OAV,1996
11661,1,3662984164,TV,Angel Links,TV,1999-04-07 to 1999-06-30